$themes:(
  light:(
    bgColor1: #fff,
    bgColor2: #333,
    bgColor3: #000,
    fontColor1:rgba(0,0,0,0.5)
  ),
  dark:(
    bgColor1:#000,
    bgColor2: #333,
    bgColor3: #fff,
    fontColor1:#fff
  )
)